*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4476cb;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 5rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
.typed_text{
    color: yellow;
    text-decoration: underline;
    font-style: italic;
}
