*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.button{
    width: 300px;
    height: 60px;
    background-color: #fff;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    position: relative;
    transition: all .5s ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 0.5s;
    z-index: -1;
}
.button:hover::before{
    transform: scaleX(1.4) scaleY(1.6);
}
.button:hover, .button:active{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0,0, 0.4);
}