*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #336a99;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emojies{
    font-size: 10rem;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;
}
.emojies:hover{
    filter: grayscale(0);
    transform: scale(1.3);
}
